icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  fill: #333;
}
icon svg {
  width: 100%;
  height: 100%;
}
icon.icon--small {
  width: 1.5rem;
  height: 1.5rem;
}
icon.icon--large {
  width: 4.5rem;
  height: 4.5rem;
}
a {
  box-sizing: border-box;
  margin: 0;
  padding: 1.25rem 2rem;
  text-decoration: none;
}
a:active,
a:focus {
  outline: none;
}
a.link--block {
  display: block;
}
a.link--icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
a.link--icon span {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
button {
  box-sizing: border-box;
  margin: 0;
  padding: 1.25rem 2rem;
  border: none;
  display: block;
  width: 100%;
  color: #333;
  background-image: linear-gradient(#bfbfbf, #b4b4b4);
}
button:focus,
button:active {
  outline: none;
}
button.button--icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
button.button--icon span {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
[toast] {
  position: fixed;
  padding: 1rem;
  bottom: 1rem;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(1rem);
  -moz-transform: translateX(-50%) translateY(1rem);
  -ms-transform: translateX(-50%) translateY(1rem);
  -o-transform: translateX(-50%) translateY(1rem);
  transform: translateX(-50%) translateY(1rem);
  transition: transform 200ms, opacity 200ms;
  color: #fff;
  background-color: rgba(0,0,0,0.75);
  font-size: 0.9rem;
  pointer-events: none;
}
[toast][display="true"] {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0);
  -moz-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  -o-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}
.form {
  padding: 1rem;
  min-height: 50vh;
}
.form field {
  display: block;
  position: relative;
  padding-top: 2.25rem;
  margin: 0.5rem 0;
}
.form field label,
.form field input {
  display: block;
  width: 100%;
}
.form field label {
  position: absolute;
  top: 50%;
  transition: transform 180ms;
  pointer-events: none;
  color: #888;
}
.form field[has-value="true"] label {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.form field input {
  border-bottom: 1px solid #c2c2c2;
  background-color: transparent;
  -webkit-text-fill-color: d3d3d3 !important;
}
.form field input:focus ~label {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.form input,
.form label {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.5rem;
  line-height: 2.25rem;
  border: 0;
}
.form input:focus,
.form label:focus,
.form input:active,
.form label:active {
  outline: none;
}
.section .section__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f93526;
  color: #fff;
}
.section .section__header a {
  padding: 1rem;
}
.section .section__header icon {
  fill: #fff;
}
.section .section__header h1 {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0;
}
.section .section__body {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  background-color: #fff;
  padding: 1rem;
}
.nav {
  background: #fff;
  color: #1e1d21;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: transform 200ms ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 2;
  overflow: hidden;
  overflow-y: auto;
}
.nav~:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 200ms;
  pointer-events: none;
  z-index: 1;
}
.nav:target {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.nav:target~main:before {
  background-color: rgba(22,19,33,0.33);
  pointer-events: initial;
}
.nav-header {
  background-color: #f93526;
  color: #fff;
}
.nav-header h1 {
  text-align: right;
  width: 20rem;
  max-width: 80vw;
  font-family: 'ubuntu_titlingbold';
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  margin: 0;
  padding: 3rem;
}
.nav-header .nav-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-header .nav-header__list-item {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.nav-header .nav-header__list-item a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem;
  padding-right: 0;
}
.nav-header .nav-header__list-item a:active,
.nav-header .nav-header__list-item a:focus {
  outline: none;
}
.nav-list {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list-item {
  margin: 0;
  padding: 0;
}
.nav-list-item.nav-list-item--seperator {
  border-top: 1px solid #e2e2e2;
}
.nav-list-item a {
  display: block;
  color: #1e1d21;
  text-decoration: none;
  padding: 1.25rem 2rem;
}
.nav-list-item a:hover {
  background-color: #e2e2e2;
}
.nav-list-item a:active,
.nav-list-item a:focus {
  outline: none;
}
.facebook {
  background-color: #3b5999;
  color: #fff;
}
.facebook icon {
  fill: #fff;
}
.google {
  background-color: #dc4e41;
  color: #fff;
}
.google icon {
  fill: #fff;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 1em;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #e2e2e2;
}
a:active,
a:focus {
  outline: none;
}
#searchMap {
  width: 100%;
  height: 20rem;
  background-color: #ccc;
}
.main {
  height: 100%;
  overflow: hidden;
}
.main__section {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
}
.main__section:last-child {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.main__section:target {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.main__section:target:not(:last-child) {
  opacity: 0;
  -webkit-animation: slideUp 200ms ease-in-out;
  animation: slideUp 200ms ease-in-out;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.main__section:target~.main__section {
  display: none;
}
.list,
.selected-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li,
.selected-list li {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
.selected-list {
  color: #e84b3f;
}
.selected-list .selected {
  font-weight: 400;
}
[signin],
[signup] {
  color: #202020;
}
[signin] h2,
[signup] h2 {
  font-weight: 200;
}
[signin] p,
[signup] p,
[signin] b,
[signup] b {
  font-size: 0.85rem;
}
.check-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.check-list li {
  padding: 1rem;
}
@font-face {
  font-family: 'ubuntu_titlingbold';
  src: url("UbuntuTitling-Bold-webfont.eot");
  src: url("UbuntuTitling-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("UbuntuTitling-Bold-webfont.woff") format('woff'), url("UbuntuTitling-Bold-webfont.ttf") format('truetype'), url("UbuntuTitling-Bold-webfont.svg#ubuntu_titlingbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@-moz-keyframes slideUp {
  0% {
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0% {
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
