button
    box-sizing: border-box
    margin: 0
    padding: 1.25rem 2rem
    border: none
    display: block
    width: 100%
    color: #333
    background-image: linear-gradient(#bfbfbf, #b4b4b4)
    &:focus, &:active
        outline: none;
    &.button--icon
        flexbox(flex)
        justify-content(space-between)
        align-items(center)
        span
            flex(1)
