.form
    padding: 1rem
    min-height: 50vh

    field
        display: block
        position: relative
        padding-top: 2.25rem
        margin: .5rem 0;
        label, input
            display: block
            width: 100%
        label
            position:absolute
            top: 50%
            transition: transform 180ms
            pointer-events: none
            color: rgb(136, 136, 136);
        &[has-value="true"]
            label
                transform: translateY(-100%)
        input
            border-bottom: 1px solid rgb(194, 194, 194);
            background-color: transparent
            -webkit-text-fill-color: d3d3d3 !important;
            &:focus
                ~label
                    transform: translateY(-100%)

    input, label
        box-sizing: border-box
        margin: 0
        padding: 0 .5rem
        line-height: 2.25rem
        border: 0
        &:focus, &:active
            outline: none
