icon
    display: inline-block
    width: 3rem
    height: 3rem
    vertical-align: middle
    fill: #333
    svg
        width: 100%
        height: 100%
    &.icon--small
        width: 1.5rem
        height: 1.5rem
    &.icon--large
        width: 4.5rem
        height: 4.5rem
