a
    box-sizing: border-box
    margin: 0
    padding: 1.25rem 2rem
    text-decoration: none
    &:active, &:focus
        outline: none
    &.link--block
        display: block
    &.link--icon
        flexbox(flex)
        justify-content(space-between)
        align-items(center)
        text-align: center
        margin-bottom: 1rem
        span
            flex(1)
