@import 'flexbox'
@import 'transform'
@import 'placeholder'
@import 'icon'
@import 'link'
@import 'button'
@import 'toast'
@import 'form'
@import 'section'
@import 'nav'
@import 'social';

*
    box-sizing: border-box

html
    font-size: 1em
    height: 100%

body
    margin: 0
    height: 100%
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight: 300
    background-color: rgb(226, 226, 226)

a
    &:active, &:focus
        outline: none

#searchMap
    width: 100%
    height: 20rem
    background-color: #CCC

.main
    height: 100%
    overflow: hidden
    &__section
        height: 100%
        flexbox(flex)
        flex-direction(column)
        display: none
        &:last-child
            flexbox(flex)
        &:target
            flexbox(flex)
            &:not(:last-child)
                opacity: 0
                -webkit-animation: slideUp 200ms ease-in-out
                animation: slideUp 200ms ease-in-out
                -webkit-animation-delay: 100ms
                animation-delay: 100ms
                animation-fill-mode: forwards
                -webkit-animation-fill-mode: forwards

            &~.main__section
                display: none

.list, .selected-list
    list-style: none
    margin: 0
    padding: 0
    li
        background-color: #fff
        padding: 1rem
        border-bottom: 1px solid rgb(224, 224, 224)
        cursor: pointer

.selected-list
    color: #E84B3F
    .selected
        font-weight: 400

[signin], [signup]
    color: #202020
    h2
        font-weight: 200
    p, b
        font-size: .85rem

.check-list
    list-style: none
    margin: 0
    padding: 0
    li
        padding: 1rem

@keyframes slideUp
    0%
        transform(translateY(10%))
        opacity: 0
    100%
        transform(translateY(0))
        opacity: 1

@font-face
    font-family: 'ubuntu_titlingbold'
    src: url('UbuntuTitling-Bold-webfont.eot')
    src: url('UbuntuTitling-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('UbuntuTitling-Bold-webfont.woff') format('woff'),
         url('UbuntuTitling-Bold-webfont.ttf') format('truetype'),
         url('UbuntuTitling-Bold-webfont.svg#ubuntu_titlingbold') format('svg')
    font-weight: normal
    font-style: normal
