.nav
    // flexbox(flex)
    // flex-direction(column)
    // align-items(stretch)
    background: #fff
    color: rgb(30, 29, 33)
    position: absolute;
    left: 0
    top: 0
    bottom: 0
    transition: transform 200ms ease-in-out
    transform(translateX(-100%))
    z-index: 2
    overflow:hidden
    overflow-y:auto
    &~:before
        display: block
        content: ''
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-color: transparent
        transition: background-color 200ms
        pointer-events: none
        z-index: 1
    &:target
        transform(translateX(0))
        &~main:before
            background-color: rgba(22, 19, 33, 0.33)
            pointer-events: initial


.nav-header
    background-color: #f93526
    color: #fff
    h1
        text-align: right
        width: 20rem
        max-width: 80vw
        font-family: 'ubuntu_titlingbold'
        font-size: 2.5rem
        letter-spacing: -.1rem
        margin: 0
        padding: 3rem
    .nav-header__list
        list-style: none
        margin: 0
        padding: 0
    .nav-header__list-item
        margin: 0
        padding: 0
        display: inline-block
        a
            display: block
            color: #fff
            text-decoration: none
            text-transform: uppercase
            padding: 2rem
            padding-right: 0
            &:active, &:focus
                outline: none

.nav-list
    flex(1)
    list-style: none
    margin: 0
    padding: 0

.nav-list-item
    margin: 0
    padding: 0
    &.nav-list-item--seperator
        border-top: 1px solid rgb(226, 226, 226)
    a
        display: block
        color: rgb(30, 29, 33)
        text-decoration: none
        padding: 1.25rem 2rem
        &:hover
            background-color: rgb(226, 226, 226)
        &:active, &:focus
            outline: none
