.section
    .section__header
        flexbox(flex)
        align-items(center)
        background-color: #f93526
        color: #fff
        a
            padding: 1rem
        icon
            fill: #fff
        h1
            font-size: 1.2rem
            font-weight: 200
            margin:0
    .section__body
        flex(1)
        overflow: hidden
        overflow-y: auto
        background-color: #fff
        padding: 1rem
