[toast]
    position: fixed
    padding: 1rem
    bottom: 1rem
    left: 50%
    opacity: 0
    transform: translateX(-50%) translateY(1rem)
    transition: transform 200ms, opacity 200ms
    color: #fff
    background-color: rgba(0, 0, 0, 0.75)
    font-size:.9rem
    pointer-events:none
    &[display="true"]
        opacity: 1
        transform: translateX(-50%) translateY(0)
